<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/hughtCSCD350task3/w16cs350/datatype/Tester.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="w16cs350.datatype.Tester"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hughtCSCD350task3"/>
</launchConfiguration>
