<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/john_hugh_00626563_cscd300_prog5/src/john_hugh_00626563_cscd300_prog5/Test_Merge.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="john_hugh_00626563_cscd300_prog5.Test_Merge"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="n1.txt n2.txt n3.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="john_hugh_00626563_cscd300_prog5"/>
</launchConfiguration>
